.page__body {
  background-color: #F5F5F5;
  margin: 0;
  color: #FFFFFF;
  text-align: center;
  font-family: "Roboto", sans-serif;
  line-height: 45px;
  font-size: 32px;
}

.container {
  margin: 0 auto;
  background-color: #A6C9FF;
  max-width: 1170px;
}
