.menu {
  display: none;

  &--open {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #A6C9FF;
    width: 451px;
    padding: 33px 64px 57px 64px;
    z-index: 3;
    border: solid 1px #00FF4A;
  }


  &__list {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 39px;
    align-items: flex-start;
    margin-bottom: 55px;
  }
}
