.popup__checkbox, .popup {
  display: none;
}

.popup {
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;


  &:before {
    display: block;
    content: ' ';
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #000;
    opacity: .5;
  }

  &__content {
    width: 400px;
    height: 400px;
    position: absolute;
    z-index: 2;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    background-color: #A6C9FF;
    padding: 178px 151px;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }

  &__closer {
    padding: 8px 15px;
    position: absolute;
    top: 15px;
    right: 15px;
    color: #FFFFFF;
    font-size: 20px;
    background-color: #497957;
    display: block;
    width: 20px;
    height: 20px;
    line-height: 20px;
    text-align: center;
    border-radius: 5px;
    cursor: pointer;
  }

}

.popup__checkbox:checked + .popup {
  opacity: 1;
  display: block;
}

.popup-button {
  width: 262px;
  background-color: #FF4B4B;
  border-radius: 25px;
  padding: 15px 25px;
  color: #FFFFFF;
  border: none;
  display: inline-block;
  font-size: 23px;
  line-height: 28px;
  cursor: pointer;
}
